# =========================
# Environment Variables
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
